.auth-form-container .login-form,
.register-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

form {
  background-color: white;
  padding: 1.875rem 1.875rem;
  border-radius: 10px;
}

form h1 {
  text-align: center;
  color: rgb(77, 1, 77);
  font-size: 2.7rem;
  padding-bottom: 0.2rem;
}

.btn-form {
  margin: 1.25rem 0.1875rem 0.3125rem;
  width: 17.5rem;
  color: gray !important;
  border-radius: 6px !important;
  border: 1px solid gray !important;
}

.btn-form:hover {
  background-color: #c9aaff !important;
  color: white !important;
  border-color: #c9aaff !important;
}

.alert {
  width: 17.5rem !important;
  padding: 0.375rem 0.75rem !important;
  color: hsl(322, 100%, 50%) !important;
}

.auth-form-container h6 {
  color: gray;
  margin-top: 0.625rem;
}

.auth-form-container a {
  color: violet;
  text-decoration: none;
}
